@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-rotate: rotate 30s linear infinite;
  --font-dm-sans: var(--font-dm-sans);

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  --breakpoint-2xs: 8rem;
  --breakpoint-xs: 30rem;

  --color-off-gray: #8d8d8d;
  --color-off-black: #1f1f1f;
  --color-black-003: #8f8f8f;
  --color-black-004: #6a6a6a;
  --color-black-005: #444444;
  --color-dominant-purple-main: #673147;
  --color-accent-purple-001: #efe1ef;
  --color-purple-001: #e1d6da;
  --color-light-outline: #eaeaea;

  --color-brown-2: #ccbac2;
  --color-black-1: #1f2223;
  --color-black-2: #121211;
  --color-black-3: #0a0104a3;

  --color-gray-1: #e5e5e5;
  --color-gray-2: #0a0104;
  --color-gray-3: #e8e8ea;
  --color-gray-4: #d8d9dc;
  --color-gray-5: #9ea1a7;
  --color-gray-6: #f2f3f3;
  --color-gray-7: #555555;
  --color-gray-8: #5a5a5a;
  --color-gray-9: #e5e7eb;
  --color-gray-10: #dde1eb;
  --color-gray-01: #f6f6f6;
  --color-gray-02: #030213;
  --color-gray-03: #f9fafb;
  --color-gray-04: #f3f4f6;

  --color-green-1: #009900;
  --color-purple-1: #8a38f5;
  --color-purple-2: #b398a3;
  --color-purple-4: #fef2f8;
  --color-purple-5: #fff5ff;
  --color-purple-6: #eee0ff;
  --color-purple-7: #fff4ff;
  --color-purple-9: #e5cee5;
  --color-purple-01: #faf5ff;
  --color-purple-02: #e9d4ff;
  --color-purple-03: #e8d5eb;
  --color-purple-04: #f8f4f9;

  --color-red-1: #d4183d;
  --color-red-2: #ffe2e2;
  --color-red-3: #e7000b;
  --color-red-error: #eb3538;

  --color-yellow-1: #fbbc05;
  --color-yellow-2: #ffee99;
  --color-yellow-3: #fffae0;
  --color-yellow-4: #fffdf4;
  --color-yellow-5: #ce8100;
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* WebKit-based browsers */
  }

  .scrollbar-visible {
    scrollbar-width: thin;
    /* Firefox */
    -ms-overflow-style: auto;
    /* Internet Explorer 10+ */
  }

  .scrollbar-visible::-webkit-scrollbar {
    display: block;
    /* WebKit-based browsers */
  }
}

@layer components {
  .get-started-button {
    @apply border border-off-black rounded-[8px] py-[2px] px-[19px] text-off-black font-normal text-[16px] leading-[32px] tracking-[-3%] hover:bg-off-black hover:text-white transition-all duration-200 cursor-pointer text-center;
  }

  .black-button {
    @apply font-medium text-[18px] leading-[32px] tracking-[-3%] bg-off-black text-white px-2 py-2 w-full text-center hover:bg-transparent hover:text-off-black border border-transparent hover:border-off-black rounded-[8px] transition-all duration-200 cursor-pointer outline-none;
  }
}

html {
  font-family: var(--font-dm-sans);
  scroll-behavior: smooth;
}

.transition-ease {
  transition: all ease 0.25s;
}

body {
  font-family: var(--font-dm-sans);
  background-color: white;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
